html, body {
    height: 100%;
    min-height: 100%;
}

.body {
    height: 100%;
    padding-top: 66px;
}

.sidebar {
    background: url("img/gray_fabric.png") repeat;
    min-height: 100%;
    padding: 0;
}

.sidebar .list-group-item {
    width: 100%;
}

.griddy-url {
    width: 400px !important;
}

.event {
	cursor: pointer;
}

.event:hover {
	background: #efefef;
}